img{
    max-width: 100%;
    max-height: 100%;
}
.degree_symbol:not(:empty)::after{
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map{
	width: 100%;
    height: 300px;
}
.menubar{
    background-color: rgb(48, 65, 93);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100px;
    font-family: 'Oswald', sans-serif;
}
.search{
    padding: 10px;
    text-align: right;
}
.location{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}
.currentbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.date_time{
    font-family: 'Oswald', sans-serif;
    color:  #031424;
}
.lat_long{
    font-family: 'Oswald', sans-serif;
    color: #031424;
    text-align: right;
}
.current_temp{
    font-family: 'Vidaloka', serif;
    color: rgb(207, 103, 102);
    font-size: 170px;
    text-align: center;
    margin-top: -160px;
    margin-bottom: -170px;
}
.description_box{
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    width: 100%;
    background-color: rgb(144, 173, 187);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 100px;
}
.box1{
    background-color: white;
}
.box2{
    text-align: center;
}
.box3{
    background-color: white;
}
.alerts{
    color: rgb(207, 103, 102);
    padding-top: 5px;
}
.weather_description{
    font-family: 'Oswald', sans-serif;
}
.hourly{
    background-color: rgb(48, 65, 93);
    width: 100%;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
}
.hourly_time{
    text-align: center;
    padding: 5px;
}
.weather_icon{
 text-align: center;
}
.weather_icon2{
    text-align: center;
}
.weather_icon2 img{
    float: right;
}
.hourly_temp{
    text-align: center;
}
.today_high_low{
    font-family: 'Oswald', sans-serif;
    color: rgb(41, 40, 40);
    text-align: center;
    font-size: 25px;
}
.feels_like{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #031424;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.title2{
    padding: 20px;
}
.humidity{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.wind{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.uv_index{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.visibillity{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.cloud_coverage{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.dew_point{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
}
.conditions1{
    font-family: 'Vidaloka', serif;
    color: #031424;
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.weekly_forecast{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}
.day_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}
.day{
    text-align: left;
}
.description{
    
    float:right;
}
.high_low{
    text-align: right;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    font-family: 'Vidaloka', serif;
    color: #031424;
    text-align: center;
    font-size: 30px;
}
.radar{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}
.sun_moon{
    color: white;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.moon_phase{
    background-color: #CF6766;  
    width: 100%;
    height: 180px;
    grid-column: span 3;
}
.sunrise{
    background-color:  #CF6766; 
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
}
.sunset{
    background-color:  #CF6766; 
    width: 100%;
    height: 120px;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.precipitation{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.chance_rain{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.pressure{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.air_quality{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.air_quality_index{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.pollen{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 120px;
}
.conditions2{
    font-family: 'Vidaloka', serif;
    color: #031424;
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.tide{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.title{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}
.title2{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: left;
}
.icon-01d{
    background-image: url("/Weather\ Logo/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
}