.degree_symbol:not(:empty)::after{
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map{
	width: 600px;
    height: 600px;
}
.menubar{
    background-color: rgb(48, 65, 93);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100px;
    font-family: 'Oswald', sans-serif;
}
.location{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}
.currentbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.search{
    text-align: right;
}
.date_time{
    font-family: 'Oswald', sans-serif;
    color:  #031424;
}
.lat_long{
    font-family: 'Oswald', sans-serif;
    color: #031424;
    text-align: right;
}
.current_temp{
    font-family: 'Vidaloka', serif;
    color: rgb(207, 103, 102);
    font-size: 170px;
    text-align: center;
    margin-top: -130px;
    margin-bottom: -130px;
}
.description_box{
    background-color: rgb(144, 173, 187);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 50%;
    height: 100px;
}
.alerts{
    color: rgb(207, 103, 102);
}
.weather_description{
    font-family: 'Oswald', sans-serif;
}
.hourly{
    background-color: rgb(48, 65, 93);
    width: 100%;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
}
.hourly_time{
    text-align: center;
    padding: 5px;
}
.weather_icon{
    text-align: center;
}
.hourly_temp{
    text-align: center;
}
.today_high_low{
    font-family: 'Oswald', sans-serif;
    color: rgb(41, 40, 40);
    text-align: center;
    font-size: 25px;
}
.feels_like{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #031424;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.humidity{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.wind{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.uv_index{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.visibillity{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.cloud_coverage{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.dew_point{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.conditions1{
    font-family: 'Vidaloka', serif;
    color: #031424;
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.weekly_forecast{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
    
}

.day_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.day{
    text-align: left;
}
.weather_icon{
    float:right;
}
.description{
    
    float:right;
}
.high_low{
    text-align: right;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.radar{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.sun_moon{
    background-color: #CF6766;
    color: white;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.precipitation{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.chance_rain{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.pressure{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.air_quality{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.air_quality_index{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.pollen{
    background-color: rgb(144, 173, 187);
    width: 100%;
    height: 100px;
}
.conditions2{
    font-family: 'Vidaloka', serif;
    color: #031424;
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.tide{
    background-color: #031424;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.title{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: left;
}
.title2{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: left;
}